body {
    margin: 0px;
    background-color: black
}

.container{
    width: 100vw;
    height: 100vh;
    /* background: rgb(3,0,55);
    background: linear-gradient(0deg, rgba(3,0,55,1) 0%, rgba(42,0,126,1) 50%, rgba(0,46,163,1) 100%); */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main{
    width: 500px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6%;
    opacity: 88%;
}

h3{
    font-size: medium;
    color: #5c5c5c;
}

.timeFormContainer{
    display: flex;
    width: 250px;
    text-align: center;
}

.timeForm{
    width: 50px; 
    text-align: center;
    border: 1px solid black;
    border-radius: 15%;
}

#minutesForm{
    margin-left: 5px;
    margin-right: 5px;
}

#subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

#cancelShutdownButton {
    width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: "";
}

#modalTitle {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#subtitle {
    font-size: 17px;
    font-weight: normal;
}

.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(5px) grayscale(90%);
    filter: "";
}

.modal-content  {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 15px !important; 
}