body{
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;background: rgb(3,0,55);
    background: linear-gradient(0deg, rgba(3,0,55,1) 0%, rgba(42,0,126,1) 50%, rgba(0,46,163,1) 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main{
    width: 500px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6%;
    opacity: 88%;
}

h3{
    font-size: medium;
    color: #5c5c5c;
}

.timeFormContainer{
    display: flex;
}

.timeForm{
    width: 50px; 
    text-align: center;
    border: 1px solid black;
    border-radius: 15%;
}

#minutesForm{
    margin-left: 5px;
    margin-right: 5px;
}